Docente: Juan Pablo Ospina
Asignatura: Modelamiento Probabilístico
Estudiantes: Diana Carolina Quintero Bedoya 
Tema: Laboratorio 2 - Pandas
Fecha de entrega: 28/08/2022

# __Series__

In [ ]:
import numpy as np
import pandas as pd

## __Creando series__

Declare una serie vacia

In [ ]:
# Solución propuesta
serieV = pd.Series()
serieV

/tmp/ipykernel_1362/2310101970.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  serieV = pd.Series()

Series([], dtype: float64)

Dada la lista `X = ['A','B','C', 'D']` conviertala a un serie de Pandas

In [ ]:
# Solución propuesta
x = np.array(['A','B','C', 'D'])
serieV = pd.Series(x)
serieV

0    A
1    B
2    C
3    D
dtype: object

Asignele el nombre  `'Letras'` a la serie `X`

In [ ]:
# Solución propuesta
x = pd.Series(serieV, name='Letras')

Muestre los valores de la serie `X`

In [ ]:
# Solución propuesta
print(x)

0    A
1    B
2    C
3    D
Name: Letras, dtype: object

## __Indexación__

Asigne los índices `[primero, segundo, tercero, cuarto]` a la serie `X`

In [ ]:
 # Solución propuesta
x = pd.Series(['A','B','C','D'], index=['primero','segundo','tercer','cuarto'])
x

primero    A
segundo    B
tercer     C
cuarto     D
dtype: object

Imprima el primer elemento de la serie `X` (utilice diferentes métodos)

In [ ]:
# Solución propuesta
x.head(1)

primero    A
dtype: object

In [ ]:
x['primero']

'A'

Imprima el primer y el último de la serie `X` (utilice diferentes métodos)

In [ ]:
# Solución propuesta

x.head(1)

primero    A
dtype: object

In [ ]:
x['primero']

'A'

In [ ]:
x.tail(1)

cuarto    D
dtype: object

In [ ]:
x['cuarto']

'D'

Imprima todos los elementos intermedios de la serie `X` (utilice diferentes métodos)

In [ ]:
x['segundo']

'B'

In [ ]:
x['tercer']

'C'

In [ ]:
x.get(1)

'B'

In [ ]:
x.get(2)

'C'

Imprima todos los elementos de la serie `X` en orden inverso (utilice diferentes métodos)

In [ ]:
# Solución propuesta
for i in reversed(x):
        print(i)

D
C
B
A

In [ ]:
inversa = list(reversed(x))
inversa

['D', 'C', 'B', 'A']

In [ ]:
rever = x[::-1]
rever

cuarto     D
tercer     C
segundo    B
primero    A
dtype: object

Imprima el primero y el último elemento de la serie `X` (utilice diferentes métodos)

In [ ]:
# Solución propuesta
rever.head(1)

cuarto    D
dtype: object

In [ ]:
rever.get(0)

'D'

In [ ]:
rever['primero']

'A'

In [ ]:
rever.get(3)

'A'

In [ ]:
rever.tail(1)

primero    A
dtype: object

In [ ]:
rever['cuarto']

'D'

## __Manipulando series__

Cambie el tipo de datos de la siguiente serie a `float`

In [ ]:
ser_a_float = pd.Series()
ser_a_float = pd.Series([1,2,3,4,5], index=['first','second','third','fourth','fifth'])
ser_a_float = pd.Series(ser_a_float)
x = pd.to_numeric(ser_a_float, errors='coerce').astype('float64')
x

/tmp/ipykernel_1362/1574195441.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser_a_float = pd.Series()

first     1.0
second    2.0
third     3.0
fourth    4.0
fifth     5.0
dtype: float64

Ordene los valores de la serie `X`

In [ ]:
# Solución propuesta
x = ser_a_float.sort_values(ascending = True) 
x

first     1
second    2
third     3
fourth    4
fifth     5
dtype: int64

Asigne el valor de `10` al quinto elemento de la serie `X`

In [ ]:
# Solución propuesta
x[4]=10
x

first      1
second     2
third      3
fourth     4
fifth     10
dtype: int64

Asigne el valor de `0` a todos los elementos intermedios de la serie `X`. Utilice diferentes métodos en la solución propuesta

In [ ]:
# Solución propuesta
x = pd.Series()
x = pd.Series([1,2,3,4,5], index=['A','B','C','D','E'])
x = pd.to_numeric(x, errors='coerce').astype('int64')
x['B','C','D'] = 0
x

/tmp/ipykernel_1362/689168727.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

A    1
B    0
C    0
D    0
E    5
dtype: int64

Sume $5$ a cada uno de los elementos de la serie `X`

In [ ]:
# Solución propuesta
x = pd.Series([1,2,3,4,5], index=['A','B','C','D','E'])
x.apply(lambda x: x+5)

A     6
B     7
C     8
D     9
E    10
dtype: int64

## __Selección condicionada (boolean arrays)__

Dada la serie `X` cree una nueva serie donde solo aparezcan valores positivos

In [ ]:
# Solución propuesta

x = pd.Series()
x = pd.Series([2,5, 6, 10], index=[1,4,5,9])
x

/tmp/ipykernel_1362/2313437579.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

1     2
4     5
5     6
9    10
dtype: int64

Dada la serie `X` cree una nueva serie donde solo aparezcan valores comprendidos entre `-2` y `9`

In [ ]:
# Solución propuesta
x = pd.Series()
x = pd.Series([-1,2,0,5,6,0,0],index=[0,1,2,4,5,6,7])
x

/tmp/ipykernel_1362/3412274555.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

0   -1
1    2
2    0
4    5
5    6
6    0
7    0
dtype: int64

Dada la serie `X` cree una nueva serie donde solo aparezcan valores que son iguales a $-1$ o $0$ o son mayores que la media

In [ ]:
# Solución propuesta
x = pd.Series()
x = pd.Series([-1,2,0,-4,5,6,0,0,-9,10],index=[0,1,2,3,4,5,6,7,8,9])
x

/tmp/ipykernel_1362/3304089876.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

0    -1
1     2
2     0
3    -4
4     5
5     6
6     0
7     0
8    -9
9    10
dtype: int64

## __Estadísticas__

Dada la la lista `X = [3,5,6,7,2,3,4,9,4]` encuentre la suma de todos sus elementos

In [ ]:
# Solución propuesta

X = [3,5,6,7,2,3,4,9,4]

suma = sum(X)
print (suma)

43

Encuentre la media, la desiviación estándar, la mediana, el máximo y el mínimo de la serie

In [ ]:
# Solución propuesta

np.mean(X)

4.777777777777778

In [ ]:
np.median(X)

4.0

In [ ]:
st_dev = np.std(X)

print(st_dev)

2.096440251568134

In [ ]:
print(max(X))

9

In [ ]:
print(min(X))

2

# __DataFrames__

## __Creando un DataFrame__

Declare un DataFrame vacio

In [ ]:
# Solución propuesta
import pandas as pd
df = pd.DataFrame()

Declare un DataFrame llamado marvel_data que contenga la siguiente información

In [ ]:
df = marvel_data= [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

df = pd.DataFrame(marvel_data)
print(df)

                   0       1     2
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968

Agregue los nombres a las columnas a partir de la siguiente lista `['name', 'sex, 'first_appearance']`

In [ ]:
# Solución propuesta
df.columns = ['name', 'sex','first_appearance']
print(df)

                name     sex  first_appearance
0         Spider-Man    male              1962
1    Captain America    male              1941
2          Wolverine    male              1974
3           Iron Man    male              1963
4               Thor    male              1963
5              Thing    male              1961
6   Mister Fantastic    male              1961
7               Hulk    male              1962
8              Beast    male              1963
9    Invisible Woman  female              1961
10             Storm  female              1975
11             Namor    male              1939
12           Hawkeye    male              1964
13         Daredevil    male              1964
14    Doctor Strange    male              1963
15          Hank Pym    male              1962
16     Scarlet Witch  female              1964
17              Wasp  female              1963
18       Black Widow  female              1964
19            Vision    male              1968

Seleccione la columna `'name'` como los índices del DataFrame

In [ ]:
# Solución propuesta

df.set_index(['name'], inplace = True)

print(df)

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Namor               male              1939
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Hank Pym            male              1962
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1968

Elimine la columna `'name'` ya que ahora representa los índices

In [ ]:
# Solución propuesta
el = df.reset_index('name', drop=True)
el

       sex  first_appearance
0     male              1962
1     male              1941
2     male              1974
3     male              1963
4     male              1963
5     male              1961
6     male              1961
7     male              1962
8     male              1963
9   female              1961
10  female              1975
11    male              1939
12    male              1964
13    male              1964
14    male              1963
15    male              1962
16  female              1964
17  female              1963
18  female              1964
19    male              1968

Elimine las filas con la información de `Storm` y `Vision`

In [ ]:
eliminar = df.drop(["Storm","Vision"])
print(eliminar)

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Namor               male              1939
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Hank Pym            male              1962
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964

## __Indexación__

Imprima las primeras 5 filas del DataFrame. (Utilice todos los métodos posibles)

In [ ]:
# Solución propuesta

df.head(5)

                  sex  first_appearance
name
Spider-Man       male              1962
Captain America  male              1941
Wolverine        male              1974
Iron Man         male              1963
Thor             male              1963

Imprima las últimas 5 filas del DataFrame. (Utilice todos los métodos posibles)

In [ ]:
# Solución propuesta
df.tail(5)

                  sex  first_appearance
name
Hank Pym         male              1962
Scarlet Witch  female              1964
Wasp           female              1963
Black Widow    female              1964
Vision           male              1968

Imprima el genero de las primeras 5 filas del DataFrame. (Utilice todos los métodos posibles)

In [ ]:
# Solución propuesta
df['sex'].head(5)

name
Spider-Man         male
Captain America    male
Wolverine          male
Iron Man           male
Thor               male
Name: sex, dtype: object

Muestre la primera aparición de todos los elementos intermedios en el DataFrame

In [ ]:
# Solución propuesta
df.iloc[1:8]

                   sex  first_appearance
name
Captain America   male              1941
Wolverine         male              1974
Iron Man          male              1963
Thor              male              1963
Thing             male              1961
Mister Fantastic  male              1961
Hulk              male              1962

Muestre el primer y el último elemento del DataFrame

In [ ]:
# Solución propuesta
df.head(1)

             sex  first_appearance
name
Spider-Man  male              1962

In [ ]:
df.tail(1)

         sex  first_appearance
name
Vision  male              1968

## __Manipulando DataFrames__

Mofique la primera aparición de `Vision` al año `1984`

In [ ]:
# Solución propuesta
df['first_appearance'] = df['first_appearance'].replace([1968], 1984)
df['first_appearance'].tail(1)

name
Vision    1984
Name: first_appearance, dtype: int64

Agregue una columna llamada `years_since`, la cual se calculará como el número de años entre la primera aparición y la fecha actual

In [ ]:
# Solución propuesta
from datetime import datetime
now = datetime.now()

df['years_since'] = now.year - df['first_appearance']
df

                     sex  first_appearance  years_since
name
Spider-Man          male              1962           60
Captain America     male              1941           81
Wolverine           male              1974           48
Iron Man            male              1963           59
Thor                male              1963           59
Thing               male              1961           61
Mister Fantastic    male              1961           61
Hulk                male              1962           60
Beast               male              1963           59
Invisible Woman   female              1961           61
Storm             female              1975           47
Namor               male              1939           83
Hawkeye             male              1964           58
Daredevil           male              1964           58
Doctor Strange      male              1963           59
Hank Pym            male              1962           60
Scarlet Witch     female              1964           58
Wasp              female              1963           59
Black Widow       female              1964           58
Vision              male              1984           38

Agregue una columna llamada `Salary` y asigne a todos un valor de `15000 USD`

In [ ]:
# Solución propuesta
df['Salary'] = pd.Series()
df['Salary'].iloc[:20] = '15000 USD'
df

/tmp/ipykernel_1362/3327504351.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['Salary'] = pd.Series()
/shared-libs/python3.9/py/lib/python3.9/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                     sex  first_appearance  years_since     Salary
name
Spider-Man          male              1962           60  15000 USD
Captain America     male              1941           81  15000 USD
Wolverine           male              1974           48  15000 USD
Iron Man            male              1963           59  15000 USD
Thor                male              1963           59  15000 USD
Thing               male              1961           61  15000 USD
Mister Fantastic    male              1961           61  15000 USD
Hulk                male              1962           60  15000 USD
Beast               male              1963           59  15000 USD
Invisible Woman   female              1961           61  15000 USD
Storm             female              1975           47  15000 USD
Namor               male              1939           83  15000 USD
Hawkeye             male              1964           58  15000 USD
Daredevil           male              1964           58  15000 USD
Doctor Strange      male              1963           59  15000 USD
Hank Pym            male              1962           60  15000 USD
Scarlet Witch     female              1964           58  15000 USD
Wasp              female              1963           59  15000 USD
Black Widow       female              1964           58  15000 USD
Vision              male              1984           38  15000 USD

## __Selección condicionada (boolean arrays)__

Muestre todos los heroes de genero femenino en el DataFrame

In [ ]:
# Solución propuesta
f = df['sex'] == 'female'
df[f]

                    sex  first_appearance  years_since     Salary
name
Invisible Woman  female              1961           61  15000 USD
Storm            female              1975           47  15000 USD
Scarlet Witch    female              1964           58  15000 USD
Wasp             female              1963           59  15000 USD
Black Widow      female              1964           58  15000 USD

Muestre todos los heroes cuya aparición fue posterior a 1970

In [ ]:
# Solución propuesta
año = df['first_appearance'] > 1970
df[año]

              sex  first_appearance  years_since     Salary
name
Wolverine    male              1974           48  15000 USD
Storm      female              1975           47  15000 USD
Vision       male              1984           38  15000 USD

Muestre todos los heroes de género masculino en el DataFrame cuya aparición fue después de `1970`

In [ ]:
# Solución propuesta
m = (df['first_appearance'] > 1970) & (df['sex'] == 'male')
df[m]

            sex  first_appearance  years_since     Salary
name
Wolverine  male              1974           48  15000 USD
Vision     male              1984           38  15000 USD

Muestre todos los herores de género femenino cuya aparición fue antes de 1980

In [ ]:
# Solución propuesta
f = (df['first_appearance'] > 1980) & (df['sex'] == 'female')
df[f]

Empty DataFrame
Columns: [sex, first_appearance, years_since, Salary]
Index: []

## __Estadísticas__

Presente un resumen estadístico de cada una de las columnas en el DataFrame

In [ ]:
# Solución propuesta
df.describe()

       first_appearance  years_since
count         20.000000    20.000000
mean        1962.650000    59.350000
std            9.685991     9.685991
min         1939.000000    38.000000
25%         1961.750000    58.000000
50%         1963.000000    59.000000
75%         1964.000000    60.250000
max         1984.000000    83.000000

Muestre la media, el míinimo y el máximo de la primera aparición

In [ ]:
# Solución propuesta
media = df['first_appearance'].mean()
minimo = df['first_appearance'].min()
maximo = df['first_appearance'].max()
print("La media de la primera aparción es de : ", media)
print("El mínimo de la primera aparción es de : ", minimo)
print("El máximo de la primera aparción es de : ", maximo)

La media de la primera aparción es de :  1962.65
El mínimo de la primera aparción es de :  1939
El máximo de la primera aparción es de :  1984

Muestre los nombres de los Heroes cuyo año de primera aparición está por debajo de la media

In [ ]:
# Solución propuesta
media = df['first_appearance'].mean()

heroe = df['first_appearance'] < media
df[heroe]

                     sex  first_appearance  years_since     Salary
name
Spider-Man          male              1962           60  15000 USD
Captain America     male              1941           81  15000 USD
Thing               male              1961           61  15000 USD
Mister Fantastic    male              1961           61  15000 USD
Hulk                male              1962           60  15000 USD
Invisible Woman   female              1961           61  15000 USD
Namor               male              1939           83  15000 USD
Hank Pym            male              1962           60  15000 USD

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=85aa8e30-88c6-4f5a-ac2d-55976fd47310' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>